<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic4 Datepicker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <b>No formatting:</b>
  <ion-input readonly [(ngModel)]="datePickerDate" 
  [liIonic4Datepicker]="datePickerObj" (ionChange)="onCalendarChange($event)"></ion-input>

  <b>MomentJs formatting that works: 'DD MMMM YYYY':</b>
  <ion-input readonly [(ngModel)]="datePickerFormattedDate" 
  [liIonic4Datepicker]="datePickerObj" (ionChange)="onCalendarChange($event)"></ion-input>

  <b>MomentJs locale formatting that doesn't work: 'LL':</b>
  <ion-input readonly [(ngModel)]="datePickerLocaleDate" 
  [liIonic4Datepicker]="datePickerObj" (ionChange)="onCalendarChange($event)"></ion-input>
</ion-content>
