<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic4 Datepicker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <b>No formatting:</b>
  <ion-input readonly [(ngModel)]="datePickerDate" 
  [liIonic4Datepicker]="datePickerObj" (ionChange)="onCalendarChange($event)"></ion-input>

  <b>Same input and datepicker formatting: 'DD MMMM YYYY':</b>
  <ion-input readonly [(ngModel)]="datePickerFormattedDate" 
  [liIonic4Datepicker]="datePickerObj" (ionChange)="onCalendarChange($event)"></ion-input>

  <b>Input formatting 'LL' with previous datepicker formatting ('DD MMMM YYYY'):</b>
  <ion-input readonly [(ngModel)]="datePickerLocaleDate" 
  [liIonic4Datepicker]="datePickerObj" (ionChange)="onCalendarChange($event)"></ion-input>
</ion-content>
